# place in /lib/systemd/system/led_controller.service on dualie
[Unit]
Description=LED control based on calendar
After=network.target

[Service]
Type=simple
User=poleguy
#WorkingDirectory=/home/poleguy/flipyy-data/2022/fire_led
# https://serverfault.com/questions/806617/configuring-systemd-service-to-run-with-root-access
#ExecStartPre=/usr/bin/sleep 10
RestartSec=10
ExecStart=/bin/bash -lc '/home/poleguy/flippy-data/2023/fire_led/run'
#ExecStart=/bin/bash -lc 'echo blah'
Restart=always

[Install]
WantedBy=multi-user.target
